<div class="container-fluid sidebar-container">
  <div class="row flex-nowrap">
    <div class="col-auto col-lg-2 col-xl-2 px-sm-2 px-0 bg-light">
      <div class="d-flex flex-column align-items-center align-items-lg-start px-3 pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-auto mb-0 align-items-center align-items-lg-start" id="menu">
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fs-4 bi-people"></i> <span class="ms-3 d-none d-lg-inline">Contacts</span>

            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table "></i> <span class="ms-3 d-none d-lg-inline">Orders</span></a>
          </li>

        </ul>
        <hr>
      </div>
    </div>
    <div class="col col-lg-10 col-xl-10 py-3">
      <ng-content></ng-content>
    </div>
  </div>
</div>
