<div class="user-contact-add-form">

  <div class="mt-3 mb-4">
    <h2>Add user</h2>
  </div>

  <form #userForm="ngForm" #formRef (submit)="submitForm()" novalidate class="needs-validation">
    <div class="row my-3">
      <div class="form-group col-md-6">
        <input class="form-control" type="text" [(ngModel)]="newUser.firstName" [ngbTooltip]="getTooltip()"
               name="firstName" #firstName="ngModel" placeholder="First name" required="required" id="firstName">
        <div class="invalid-feedback" [class.d-block]="firstName.touched && firstName.invalid">
          Field must be filled!
        </div>
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" type="text" [(ngModel)]="newUser.familyName" [ngbTooltip]="getTooltip()"
               #familyName="ngModel" name="familyName" placeholder="Family name" required="required">
        <div class="invalid-feedback" [class.d-block]="familyName.touched && familyName.invalid">
          Field must be filled!
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="form-group col-md-6">
        <input class="form-control" type="number" min="1" max="100" [(ngModel)]="newUser.age" [ngbTooltip]="getTooltip()"
               #age="ngModel" name="age" placeholder="Your age" required="required">
        <div class="invalid-feedback" [class.d-block]="age.touched && age.invalid">
          Field must be filled!
        </div>
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" type="email" [(ngModel)]="newUser.email" [ngbTooltip]="getTooltip()"
               #email="ngModel" name="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{1,4}$"
               required="required">
        <div class="invalid-feedback" [class.d-block]="email.touched && email.invalid">
          Please enter email in correct format: abc@abc.com
        </div>
      </div>
    </div>

    <div class="form-group my-3">
      <input class="form-control" type="number" min="0" [(ngModel)]="newUser.monthlyIncome" [ngbTooltip]="getTooltip()"
             #monthlyIncome="ngModel" name="monthlyIncome" placeholder="Monthly income" required="required">
      <div class="invalid-feedback" [class.d-block]="monthlyIncome.touched && monthlyIncome.invalid">
        Please enter your age in the range from 1 to 100
      </div>
    </div>
    <div class="form-group my-3">
      <input class="form-control" type="number" [(ngModel)]="newUser.numberOfChildren" min="0" max="100" [ngbTooltip]="getTooltip()"
             #numberOfChildren="ngModel" name="numberOfChildren" placeholder="Number of children" required="required">
      <div class="invalid-feedback" [class.d-block]="numberOfChildren.touched && numberOfChildren.invalid">
        Please indicate how many children you have in the range from 0 to 100
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
  </form>

  <div class="progress mt-4">
    <div class="progress-bar" role="progressbar" [style.width.%]="calculateProgress()"></div>
  </div>

</div>
